<div class="signup-component">
  <div class="signup-form">
    <h2 class="signup-title my-4 text-center"><strong>Sign Up</strong></h2>
    <form [formGroup]="signupForm" class="mb-5">
      <div class="form-group">
        <label for="username">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="
            form.name.invalid &&
            (submitted || (form.name.dirty || form.name.touched))"
        >
          <div *ngIf="form.name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="email"
          class="form-control"
          id="username"
          formControlName="username"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="
            form.username.invalid &&
            (submitted || (form.username.dirty || form.username.touched))
          "
        >
          <div *ngIf="form.username.errors.required">Username is required.</div>
          <div *ngIf="form.username.errors.email">Username is invalid.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="
            form.password.invalid &&
            (submitted || (form.password.dirty || form.password.touched))
          "
        >
          <div *ngIf="form.password.errors.required">Password is required.</div>
          <div *ngIf="form.password.errors.minlength">Password must be minimun 8 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm password</label>
        <input
          type="password"
          class="form-control"
          id="confirm_password"
          formControlName="confirm_password"
        />
        <div
          class="alert alert-danger mt-1"
          *ngIf="
            form.confirm_password.invalid &&
            (submitted || (form.confirm_password.dirty || form.confirm_password.touched))
          "
        >
          <div *ngIf="form.confirm_password.errors.required">Confirm password is required.</div>
          <div *ngIf="form.confirm_password.errors.minlength">Confirm Password must be minimun 8 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select name="role" id="role" formControlName="role" class="form-control">
          <option value="">Choose an option...</option>
          <option value="ADMIN">Administrator</option>
          <option value="USER">User</option>
        </select>
        <div
          class="alert alert-danger mt-1"
          *ngIf="
            form.role.invalid &&
            (submitted || (form.role.dirty || form.role.touched))
          "
        >
          <div *ngIf="form.role.errors.required">Confirm password is required.</div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="signUp()">Sign up</button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </form>
    <div>
      <span>Return to <a [routerLink]="['/login']">Login</a></span>
    </div>
  </div>
</div>
